/*	http://colorschemedesigner.com/#1O42nw0w0w0w0
	
	Gul:	#FFF700
	Grønn:	#25D500
	Rød:	#F60018
	Blå:	#660BAB
	
*/


body {
	margin: 0 auto;
	background: black;
	color: #fff700;
	font-size: small;
	font-family: "Arial black";
	text-shadow: 3px 3px 3px black;
}
#localTime{
	float:right;
	height: 18px;
	position:relative;
	margin: 0 auto;
}
#local{
	margin:0 auto;
}
#topbar {
	background: #41046f;
	height: 36px;
	border-bottom: 1px solid #f60018;
}

#navnboks {
	position: relative;
	margin: 0 auto;
	/* background: yellow; */
	height: 18px;
	color: #fffb73;
	float:left;
	/* border:1px solid green; */
}

#navnboks p {
	margin: 0 auto;
	position: relative;
	top: 0px;
	/* background: red; */
	width: 100px;
	height: 17px;
	
}

#resources p, h2 {
	margin-top:0;
	margin-bottom:0;
}
.stats {
	width:50%;
	margin-right:0;
}
.controls {
	width:49%;
	height:100%;
	float:right;
}
.worker{
	
}
#resources {
	/* width:10%;
	min-width:192px;
	border:1px solid red; */
}
.button {
	background:orangered;
	width:100px;
}
#GUICanvas {
	float: right;
	
	background:orangered;
}

/* #goldStat {
	background:gold;
}
#foodStat {
	background:green;
}
#ironStat {
	background:grey;
}
#woodStat {
	background:brown;
} */

.clicker{	
	height:32px; 
	width:32px;
	object-fit: none;
	object-position: -0px -0px;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	border-top: 2px solid grey;
	border-right: 2px solid grey;
	background:#f3f3f3;
}
.clicker:active {
	border-left: 2px solid grey;
	border-bottom: 2px solid grey;
	border-top: 2px solid black;
	border-right: 2px solid black;	
	background:#bfbfbf;
}
#woodButton,#woodStatIcon {	
	object-position: -64px -0px;
}
#foodButton,#foodStatIcon {	
	object-position: -128px -0px;
}
#goldButton,#goldStatIcon {	
	object-position: -33px -0px;
}
#ironButton,#ironStatIcon {	
	object-position: -96px -0px;
}
#lumberjack {	
	object-position: -0px -32px;
}
#farmer {	
	object-position: -64px -32px;
}
#goldminer {	
	object-position: -32px -32px;
}
#ironminer {	
	object-position: -32px -32px;
}
.statsIcon{	
	height:32px; 
	width:32px;
	object-fit: none;
	object-position: -0px -0px;
}

.statsHover {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
/* Tooltip text */
.statsHover .statsText {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
.statsHover:hover .statsText {
    visibility: visible;
}
